/* Footer CSS */
.content-container{
    min-height: calc(100vh - 53px);
    background-color: var(--gray-light);
    color: var(--text-color);
    padding-bottom: 20px;
}

.footer--pin{
    position: relative;
    left: 0;
    bottom: 0;
}

footer{
    border-top: 1px solid #ddd;
    background-color: #ffffff;
    color: var(--text-color);
    padding: 10px 0;
}

.footerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerIcon{
    width: 50px;
    margin-right: 10px;
}


/* Splitterexpense CSS */
.splitCont{
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-top: 30px;
    border-radius: 8px;
}

.inactiveArrow{
    display: none;
}

.activeArrow{
    font-size: 50px;
    font-weight: 900;
    color: var(--primary-color);
    height: 40px;
    margin-top: -15px;
}

.splitDate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin-top: 30px;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.splitTotal{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    margin: 20px 20px 0px 20px;

}

.splitNames{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    color: var(--text-color);
}

.splitFlow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
}

/* Newexpense CSS */
.newExpenseCont{
    background: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.newExpenseTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.newExpenseBtns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.newExpenseForm{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
}

select{
    font-size: 16px;
}

input{
    font-size: 16px;
}

.btnSubmit {
        display: inline-block;
    margin: 0;
        border: 0;
    padding: 3px;
        background-color: var(--primary-color);
        color:  #ffffff;
        text-decoration: none;
        font-weight: 700;
        font-size: 1rem;
    line-height: 1.5;
	font-family: "Helvetica Neue", Arial, sans-serif;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
    width: 100px;
    height: 40px;
}

.btnClear {
        display: inline-block;
    margin: 0;
        border: 0;
    padding: 3px;
        background-color: var(--danger-color);
        color: #ffffff;
        text-decoration: none;
        font-weight: 700;
        font-size: 1rem;
    line-height: 1.5;
	font-family: "Helvetica Neue", Arial, sans-serif;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
    width: 100px;
    height: 40px;
}

.detailedExpense{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    margin: 15px 10px 10px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    border-radius: 6px;
}

.expenseIcon{
    height: 50px;
}

.chartBtn {
        display: inline-block;
    margin: 0;
        border: 0;
    padding: 3px;
        background-color: var(--primary-color);
        color: white;
        text-decoration: none;
        font-weight: 500;
        font-size: 0.9rem;
    line-height: 1.5;
	font-family: "Helvetica Neue", Arial, sans-serif;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
    width: 100px;
}

.chartBtn:focus {
    background-color: #084298;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login > *{
    margin-bottom: 10px;
}

.login > input{
    min-width: 250px;
}

.loginMsg{
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-color);
}